<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Title</title>
</head>
<body>
<h1>Cancellation Success</h1>
    <p1> Your seats have been officially cancelled<br></p1>
 <br>
 <p2>Here are your cancellation details</p2>
 <br>
<p3>Cancellation Receipt</p3>
<br>
<br>

 <table>
        <tr>
        <td>Bus ID</td>
        <td>{{routeno}}</td>
        </tr>
        <tr>
        <td>Date of Travel</td>
        <td>{{Tdate}}</td>
        </tr>
        <tr>
        <td>Booking Under</td>
        <td>{{lName}} , {{fName}}</td>
        </tr>
        <tr>
        <td>Number of Seats Booked</td>
        <td>{{allocseats}}</td>
        </tr>
</body>
</html>
