<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
    <meta charset="UTF-8">
    <title>No seats</title>
</head>
<body>
<h1>Seats Status</h1>
    <p1>Congrats! Your seats have been officially booked<br></p1>
 <br>
 <p2> If for any reason you would like to Cancel your Ticket, Please visit our cancellation page</p2>
 <br>
 <br>
<p3>Here is a receipt of your booking, please take a screenshot<br></p3>
    <br>
    <br>
    <br>
    <p3>Reciept</p3>

    <table>
        <tr>
        <td>Bus ID</td>
        <td>{{busRte}}</td>
        </tr>
        <tr>
        <td>Date of Travel</td>
        <td>{{Date}}</td>
        </tr>
        <tr>
        <td>Booking Under</td>
        <td>{{Lname}} , {{Fname}}</td>
        </tr>
        <tr>
        <td>Number of Seats Booked</td>
        <td>{{noSeats}}</td>
        </tr>
        <tr>
        <td>Confirmation Number</td>
        <td>{{confirmNo}}</td>
        </tr>
</table>
    <br>
    <br>
    <br>
<p5>Thank you for booking your tickets on Book Your Seats.</p5>


</body>
</html>
